
.welcome {
    height:128px;
    width:100%;
    z-index:2;
    font-size: 40pt;
    color: white;
    text-decoration: none;
    text-align: center;
}
.link {
    font-size: 30pt;
    color: white;
    text-decoration: none;
    text-align: center;
}
.link:hover {
    color:#ddd;
}

