.layout {
    display: grid;
    grid-template-columns: 256px 1fr 256px;
    grid-template-rows: 128px 512px 128px;

    height: 100%;
    width:100%;
}
.header {

    grid-column: 1 / span 3;
}

.welcome {
    font-size: large;
}