.board {
    margin:0;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(4, 25vh);
    grid-template-rows: repeat(4, 25vh);
}

.house {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats {
    display: flex;
   justify-content: space-around;

}