.gameOver{
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.link {
    height:128px;
    z-index:2;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}
.link:hover {
    color:#ddd;
}

