.newSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 200px;
}

input {
  width: 200px;
}

.no {
  border: 2px solid red;
  background-color: lightpink;
}
