.SetDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.title {
  align-self: center;
}

.cardBox {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 28vh;
}

.card {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 25vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 25vh;
}

.card .image {
  width: 20vh;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
  position: relative;
}
.delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 17px;
  width: 17px;
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.newCardEntry {
  margin: 30px;
  align-self: center;
}

.nullCard {
  width: 20vh;
  height: 20vh;
  margin: 10px;
  position: relative;
  border: 3px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
