.layout {
  display: grid;
  grid-template-columns: calc((100vw - 100vh) / 2) 100vh calc(
      (100vw - 100vh) / 2
    );
  grid-template-rows: 100vh;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.board {
  align-items: center;
  background-image: url("../../style/images/bigboard.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.teamA {
  align-items: flex-end;
  justify-self: flex-end;
}

.teamB {
  align-items: flex-start;
}

.teamHouse {
  background-color: var(--mcsky);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100vh / 2);
}
.teamHouse .house {
  width: calc(100vh / 2);
  aspect-ratio: 2 / 3;
}
.teamHouse .houseBase {
  width: calc(100vh / 2);
  aspect-ratio: 2 / 1;
}
