@font-face {
    font-family: 'minecrafty';
    src: local('Minecraft Regular'), url('../fonts/1_MinecraftRegular1.woff') format('woff');
}

body {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;

    font-family: "minecrafty";
    color: white;

    --boardsize:512px;
    --cellsize:calc(var(--boardsize)/4);
}

.App {
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../images/background.png");
    background-size: 1024px, 768px;
    width:1024px;
    height:768px;





}
