@font-face {
    font-family: 'minecrafty';
    src: local('Minecraft Regular'), url('../fonts/1_MinecraftRegular1.woff') format('woff');
}

body {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;

    font-family: "minecrafty";
    color: white;

    --boardsize:800px;
    --cellsize:calc(var(--boardsize)/4);

    --mcsky:#b7b6f0;
}

.App {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: black;
}

.board {
    background-image: url("../images/bigboard.png");
}